# Игнорировать файлы окружения
**/.env
**/env.local

# Игнорировать папки зависимостей
**/node_modules/
**/vendor/

# Игнорировать временные файлы IDE
.idea/
.vscode/

# Игнорировать бинарные файлы
*.exe
*.dll
*.so
*.apk
*.aab

# Игнорировать логи и системные файлы
*.log
.DS_Store
